*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    color: white;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


header{
    display: flex;
    justify-content: flex-end;
    height: 100px;
}

header button{
    margin: 13px 2px;
    padding: 4px;
    background-color: dimgray;
    border-radius: 6px;
    color: white;
    height: 28px;
}
            /* - -- - - - -- - - - - - - - -inizio main- - - - - - -- - - - - - - - -- - */

main{
    overflow: auto;
    min-width: 720px;
    flex-grow: 1;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.user{
    position:relative;

    height: 200px;
    width: 300px;
    margin: 8px 5px;
}

.user span{
    background-color: rgba(128, 128, 128, 0.665);
    position: absolute;
    bottom:0;
    left: 0;
    padding:6px 5px;
}
 /* - - - - - -- - - - - - -- - - - inizio footer - - - - -- - - - - - -- - - - -- - */
footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color:#222222;
    color: white;
    font-size: small;
}

.item{
    display: flex;
    flex-direction: column;
}
footer span{
    margin: 0 8px;
}
.left-items{
    display: flex;
    padding: 0px 10px;
}
.items-container{
    display: flex;
    align-items: center;
    margin: 0 1px;
}
.center-items{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

footer .fas{
    text-align: center;
    font-size: 30px;
    padding-bottom: 8px;
}

.fas.fa-chevron-up.freccia{
    font-size: 10px;
}
.green{
    color: green;
}

.rosso{
    height: 80px;
    background-color: rgb(97, 97, 97);
    color: rgb(206, 0, 0);
    width: 100px;
    font-weight: bolder;
}

button{
    border:0;
}